body {
  min-width: 340px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.gameDiv {
  display: none;
}

.nickInfo {
  position: absolute;
  top: 2vh;
  color: crimson;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ab2734, 11px 2px 0 rgba(244, 67, 54, 0);
  user-select: none;
  cursor: none;
}

.bang {
  position: absolute;
  top: 1vw;
  right: 10vw;
  user-select: none;
  cursor: none;
}

.healthPoint {
  position: absolute;
  top: 1vw;
  right: 1vw;
  user-select: none;
  cursor: none;
}

.gameCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
}